@import "common-imports/variables.scss";

.sampleFooterBar {
  background: $black;
  padding: 19px 20px;
  p {
    color: $white;
    margin: 0;
    line-height: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .sampleFooterBar {
    padding: 20px;
  }
}
